
    
    <a href="{{site.baseurl}}/">
    <img src="{{site.baseurl}}/images/headerlogo.png" alt="AAMDS header logo" style="width 200px;height:200px">
    </a>

    <a href="{{site.baseurl}}/content-pages/donate.html">
<img id="donatebox" src="{{site.baseurl}}/images/donatebox.png" alt="Donate Box" style="width 65px;height:65px">
    </a>

        

    
    
  

    

<nav id="primary_nav_wrap">
<ul>
  <li class="current-menu-item"><a href="{{site.baseurl}}/content-pages/diseases/diseases.html">Diseases</a></li>
  
<ul>
      <li><a href="#">Aplastic Anemia</a></li>
      <li><a href="#">MDS</a></li>
      <li><a href="#">PNH</a></li>
    </ul>
  <li><a href="#">Treatments</a>
    <ul>
      <li><a href="{{site.baseurl}}/content-pages/treatments/treatmentstherapies.html">Therapies</a></li>
      <li><a href="{{site.baseurl}}/content-pages/treatments/treatmentsbonemarrowtransplant.html">Bone Marrow Transplants</a></li>
      <li><a href="{{site.baseurl}}/content-pages/treatments/treatmentsclinicaltrials.html">Clinical Trials</a></li>
      <li><a href="{{site.baseurl}}/content-pages/treatments/treatmentsdrugs.html">Drugs</a>
       
      </li>
      
    </ul>
  </li>
  <li><a href="#">Education</a>
    <ul>
      <li><a href="{{site.baseurl}}/content-pages/education/educationconferences.html">Upcoming Conferences</a></li>
      <li><a href="{{site.baseurl}}/content-pages/education/educationonlinecourses.html">Online Courses</a></li>
      
    </ul>
  </li>
  <li><a href="#">Support</a>
    <ul>
      <li class="dir"><a href="{{site.baseurl}}/content-pages/support/supportpatienthelpline.html">Patient Helpline</a></li>
      
        
      </li>
      <li><a href="{{site.baseurl}}/content-pages/support/supportsupportnetworks.html">Support Networks</a></li>
      <li><a href="{{site.baseurl}}/content-pages/support/supportcommunityevents.html">Community Events</a></li>
      <li><a href="{{site.baseurl}}/content-pages/support/supportstoriesofhope.html">Stories of Hope</a></li>
    </ul>
  
</nav>
    
        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
